html,
body {
  margin: 0;
  min-block-size: 100%;
  background: var(--core-color-surface-page);
  color: var(--core-color-text-primary);
  font-family: var(--core-font-family);
}

body {
  padding: var(--core-space-4);
}

* {
  box-sizing: border-box;
}

.core-display {
  font-family: var(--core-display-font-family);
}
